[user]
  name = onk
  email = takafumi.onaka@gmail.com

[color]
  ui = auto

[alias]
  a = add
  ap = add -p
  aw = !"git diff -w --no-color | git apply --cached"
  b = branch
  ba = branch -a
  bm = branch -a --merged
  bn = branch -a --no-merged
  bs = for-each-ref --sort=-committerdate --format='%(committerdate:iso8601) %(refname:short)' refs/heads/
  ci = commit -v
  co = checkout
  d  = diff -b
  dc = diff --cached -b
  dw = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
  f  = fetch
  fp = fetch -p
  fix = commit -v --amend
  l  = log --pretty=format:\"%C(yellow)%h%Creset %C(green)%cd%Creset %C(cyan)(%an)%Creset: %s\" --date=short -30
  lg = log --graph --all --color --date=relative
  m  = merge
  mo  = merge origin/master --ff
  pr = pull --prune
  r = rebase
  rc = rebase --continue
  ri  = rebase -i
  s = status -sb -uno

[core]
  excludesfile = ~/.gitignore
  pager = lv -c
  quotepath = false
  autocrlf = input

[format]
  pretty = %h -%d %s (%cr)

[interactive]
  singlekey = true

[push]
  default = upstream

[merge]
  ff = false

