[user]
  name = onk
  email = takafumi.onaka@gmail.com

[color]
  ui = auto

[alias]
  a = add
  ap = add -p
  aw = !"git diff -w --no-color | git apply --cached"
  b = branch
  ba = branch -a
  ci = commit -v
  ci-am = commit -v --amend
  co = checkout
  d  = diff -b
  dc = diff --cached -b
  dw = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
  f  = fetch
  l  = log --pretty=format:\"%h %C(cyan)(%an)%Creset: %s\" --date=short -20
  lg = log --graph --all --color --date=relative
  m  = merge
  mo  = merge origin/master --ff
  r = rebase
  rc = rebase --continue
  ri  = rebase -i
  s = status -sb -uno

[core]
  excludesfile = ~/.gitignore
  pager = lv -c
  quotepath = false

[format]
  pretty = %h -%d %s (%cr)

[interactive]
  singlekey = true

[push]
  default = upstream

[merge]
  ff = false

